extends layout

block content
    h1 HackerRSS
    p Would you like to subscribe Hacker News as RSS feed with your favourite reader? Be afraid of too many feeds to read?
    p Now subscribe this RSS feed only for top stories!
    p 
        input#rss_url(value=rss_url, readonly='readonly')
