extends layout

block content
    h1 HackerRSS
    p Would you like to subscribe Hacker News as RSS feed with your favourite reader? 
    p Don't be afraid of too many feeds to read. Now subscribe this RSS gives only the top stories!
    p 
        input#rss_url(value=rss_url, readonly='readonly')
