extends layout

block content
    h1 HackerAtom
    p Havn't you tried to use your favourate feed reader to subscribe Hacker News? Have you found it gives you too many feeds to read?
    p Now let's generate a Atom feed just for top stories!

    p 
        b Subscribe:
        input#atom_url(value=atom_url, readonly='readonly')
