extends layout

block content
    h1 
      | HackerNews
      small ->RSS 
      i.fa.fa-rss
    p Would you like to subscribe Hacker News as RSS feed with your favourite reader? 
    p Don't be afraid of getting too many feeds to read. Now subscribe this RSS gives only top stories!
    p 
        input#rss_url(value=rss_url, readonly='readonly')
    p This feed not only provides the links but also fetch and extract the content of news for you.
    p.bugreport
      |Bug reports are welcome at 
      a(href='https://github.com/shanzi/hackerRSS')
        i.fa.fa-github-square
      a(href='//twitter.com/ant_sz')
        i.fa.fa-twitter-square
