!!!
html
  head
    title HackerRSS
    link(href="/assets/stylesheets/main.css", rel='stylesheet', type='text/css')
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel='stylesheet', type='text/css')
    link(href="/rss", rel='alternate', type='application/rss+xml')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

  body
    #wrap
        block content
        
        footer#footer
            p &copy;2014 Chase Zhang
  script(src="/assets/javascript/main.js")
