!!!
html
  head
    title HackerAtom
    link(href="/assets/stylesheets/main.css", rel='stylesheet', type='text/css')
    link(href="/atom", rel='alternate', type='application/atom+xml')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

  body
    #wrap
        block content
        
        footer#footer
            p &copy;2014 Chase Zhang
  script(src="/assets/javascript/main.js")
