@import url(http://fonts.googleapis.com/css?family=Abel);

html, body {
  height: 100%;
  font-family: 'Abel','Helvetica Neue', sans-serif;
  text-align: justify;
}

body {
    background-color: #d35400;
    color:white;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width:320px;
  margin:20px auto 20px;
}

#rss_url {
    display:block;
    width:100%;
    margin:5px 0;
    height:30px;
    font-size:20px;
    border:none;
    text-align:center;
    color:#d35400;
}

#footer {
  height: 45px;
}

.bugreport {
  a {
    font-size: 20px;
    margin-left:5px;
    color: white;
  }
}
